<!doctype html>
<html lang="es-CO">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ partial "head/meta.html" . }}
    {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ partial "search.html" . }}
    <main class="shell" style="padding-top: 8px; padding-bottom: 90px;">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "mobile-nav.html" . }}
  </body>
</html>

