{{- $defaultDesc := site.Params.defaultDescription | default "Noticias breves y al grano." -}}
{{- if .IsPage -}}
{{- $author := .Params.author | default site.Params.defaultAuthor -}}
{{- $desc := .Params.description -}}
{{- if not $desc -}}{{- if .Summary -}}{{- $desc = .Summary | plainify | chomp -}}{{- end -}}{{- end -}}
{{- if not $desc -}}{{- $desc = $defaultDesc -}}{{- end -}}
{{- $imagePath := site.Params.defaultOgImage | default "/og-default.jpg" -}}
{{- if .Params.image -}}{{- $imagePath = printf "%s-1024.webp" .Params.image -}}{{- end -}}
{{- $imageURL := $imagePath | absURL -}}
{{- $obj := dict
    "@context" "https://schema.org"
    "@type" "NewsArticle"
    "headline" .Title
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "description" $desc
    "image" (slice $imageURL)
    "mainEntityOfPage" .Permalink
    "author" (dict "@type" "Person" "name" $author)
-}}
<script type="application/ld+json">
{{ $obj | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- else if .IsHome -}}
{{- $obj := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" "Diego Noticias"
    "url" site.BaseURL
-}}
<script type="application/ld+json">
{{ $obj | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
